@import "tailwindcss";

@theme {
    --color-background: #d5cce0;
    --color-text: #1e1929;
    --color-accent: #4e229c;
    --font-body: "Lora", serif;
    --font-heading: "Lora", serif;
}

[data-theme="dark"] {
    --color-background: #1e1929;
    --color-text: #d5cce0;
    --color-accent: #6544c9;
}

@layer base {
    body {
        font-family: var(--font-body);
        background-color: var(--color-background);
        color: var(--color-text);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-heading);
    }
}
